.intro{
    height: 77vh;
    display: flex;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
}
.i-name>:nth-child(3){
    font-weight: 100;
    color: var(--grey);
    font-size: 34px;
    margin-top: 20px;
}
.i-button{
    width: 8rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}
.i-icons{
    margin-top: 2rem;
    display: flex;
    gap:0;
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*:hover{
    cursor: pointer;
}
.i-right{
    flex: 1;
    position: relative;

}
.i-right>*{
    z-index: 1;
    position: absolute;
}
.i-right>:nth-child(1){
    transform: scale(0.69);
    left: 15%;
    top: -9%;
}
.i-right>:nth-child(2){
    transform: scale(0.9);
    left: 1rem;
    top: -1.6rem;
}
.i-right>:nth-child(3){
    transform: scale(1.5);
    left:20%;
    top: -6%;
}
.i-right>:nth-child(4){
    top:-20%;
    transform: scale(0.8);
    left: -20%;
}
.i-right>:nth-child(5){
    top:-5%;
    left: 65%;
}
.i-right>:nth-child(6){
    top:70%;
    left: 60%;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);

}
.purple{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edfa99;
    z-index: -9;
    top: 58%;
    left: -50%;
    filter: blur(72px);
}
@media screen and (max-width:480px) {
    .intro{
        flex-direction: column;
        height: 64rem;
        gap: 7rem;
    }
    .i-right{
        transform: scale(0.8);
        top: -15%;
    }
    .blur{
        display: none;
    }
    .i-right .blur{
        display: none;
    }
    
    .floting-div:nth-last-of-type(1){
        top: -7rem !important;

    }
    .i-right>:nth-child(5){
        top:-25%;
        right: 50%;
    }

}

